extends layout

block content
  h1= title

  form(action="", method="post") 
    div 
      label(for="habitat-name") Name: 
      input(type="text" id="habitat-name" name="Name" required="true" value=(undefine===habitat? '' : habitat.Name))
    div
      label(for="habitat-description") Description: 
      textarea(name="Description", id="habitat-description", cols="30", rows="5" required="true") #{undefine===habitat? '' : habitat.Description}  
  
    button(type="submit") Submit
    if errors
      ul
        for error in errors
          li!= error.msg
