extends layout

block content
  h1= title
  form(action="", method="post") 
    div 
      label(for="monsterInstance-name") Name:
      input(type="text", name="name", id="monsterInstance-name" required="true" value=(undefine===monsterInstance? '' : monsterInstance.Name))
    div
      label(for="monsterInstance-age") Age:
      input(type="number", name="age", id="monsterInstance-age" required="true" value=(undefine===monsterInstance? '' : monsterInstance.Age))
    div
      label(for="monsterInstance-species") Species: 
      select(type="select" name="species" required="true")
        for monster in monsters 
          option(value=monster._id selected=(monster.selected === "true"? 'selected' : false)) #{monster.Name}  
    button(type="submit") Submit
    if errors
      ul
        for error in errors
          li!= error.msg
